@font-face {
  font-family: 'iconfont';  /* project id 198839 */
  src: url('//at.alicdn.com/t/font_xhq2kdxg06bt9.eot');
  src: url('//at.alicdn.com/t/font_xhq2kdxg06bt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_xhq2kdxg06bt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_xhq2kdxg06bt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_xhq2kdxg06bt9.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont {

}
body {
	min-width: 320px;
	max-width: 640px;

	margin: 0 auto;
	height: 100%;

}
.header-top {
	background: url(../images/header_top_bg2.png);
	background-size: 100% 100%;
	height: 45px;
	width: 100%;
	position: relative;
	z-index: 1;
}
.heaer-top-content {
	text-align: center;
	height: 45px;
	line-height: 45px;
	position: relative;
	z-index: 3;
	font-family: "微软雅黑";
	font-size: 21px;
}
.heaer-top-content i {
	background: url(../images/logo.png);
	display: inline-block;
	width: 35px;
	height: 32px;
	background-size: 35px 30px;
	position: absolute;
	margin-left: -42px;
  margin-top: 6px;
}
.header-focus {
	width: 100%;
	height: 313px;
}
.header-focus img {
	display: block;
	width: 100%;
	height: 100%;
}
.main {
	padding-top: 32px;
	/*background-color: #f8f2e4;*/
}
.main .search {
	padding: 0 20px 0 25px;
}
.main .search form {
	display: inline-block;
	width: 100%;
}
.main .search .search-box {
	width: 100%;
	border: 1px solid #e4e4e4;
	height: 33px;
	line-height: 33px;
	border-radius: 5px;
	position: relative;
}
.main .search .search-box [type="text"] {
	border: none;
	padding-left: 8px;
	/*background-color: #f8f2e4;*/
	width: 80%;
}
.main .search .search-box [type="submit"] {
	font-size: 0;
	background: url(../images/search.png) no-repeat;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	right: 5px;
	top: 5px;
	border: 0;
	z-index: 9;
}

/*nav icon部分*/
.enter-nav {
	display: block;
	width: 100%;
}
.enter-nav a {
	display: block;
	width: 25%;
	float: left;
	padding: 10px 0px;
	text-align: center;
}
.enter-nav a img {
	display: block;
	width: 30px;
	height: 30px;
	margin: 0 auto 7px auto;
}
.enter-nav a span {
	color: #555;
	font-size: 13px;
}
.enter-nav:after {
	clear: both;
	content: ".";
	height: 0;
	visibility: hidden;
	font-size: 0;
	display: block;
}
.buying {
	margin-top: 8px;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #575757;
	font-weight: bold;
	padding-left: 10px;
}    
/*底部nav*/
.footer-nav {
	position: fixed;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	background: url(../images/images/footer-bg.png);
	background-size: 100% 44px;
}
.footer-nav a {
	float: left;
	width: 20%;
	display: block;
	height: 50px;
	text-align: center;
	z-index: 9;
}
.footer-nav a img {
	display: block;
	width: 20px;
	height: 20px;
	margin: 5px auto 3px;
}
.footer-nav .weixin img {
	width: 25px;
}
.footer-nav a span {
	font-size: 13px;
	color: #555;
}
/*搜索页部分*/
.search-page {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 100;
}
.search-page-box {
	margin: 0 10px 0 51px;
	height: 40px;
}
.search-page .close-s {
	position: absolute;
	left: 10px;
	top: 10px;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 30px;
	font-weight: bold;
	font-size: 19px;
	color: rgb(131,131,131);
}
.search-page .search-form {
	margin-top: 10px;
	width: 100%;
	height: 40px;
	display: inline-block;
}
.search-box-p {
	width: 100%;
	border: 1px solid #e4e4e4;
	height: 30px;
	border-radius: 5px;
	position: relative;
}
.search-box-p [type="text"] {
	width: 80%;
	border: 0;
	margin: 8px 0 8px 5px;
}
.search-box-p [type="submit"] {
	font-size: 0;
	background: url(../images/search.png) no-repeat;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	display: inline-block;
	overflow: hidden;
	position: absolute;
	right: 8px;
	top: 5px;
	border: 0;
}